<%-include('./partials/header.ejs')%>
<div class="jumbotron">
    <h1 class="display-4">Listas de Tarefas</h1>
    <p class="lead">Exemplo Criado um CRUD com Node.js </p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg " href="./menu" role="button">Continuar</a>
</div>

<%-include('./partials/footer.ejs')%>