<%-include('./partials/header.ejs')%>
<div class="jumbotron">
    <h1 class="display-4 ">Menu</h1>
    
    <hr class="my-4">

    <p></p>
    <a class="btn btn-primary btn " href="./" role="button">Início</a>
    <p></p>
    <a class="btn btn-primary btn " href="./tarefa" role="button">Nova Tarefa</a>
    <p></p>
    <a class="btn btn-primary btn " href="./listar" role="button">Listar Tarefas</a>
    
</div>

<%-include('./partials/footer.ejs')%>